{
  "presets": [
    ["env", { "modules": false }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-dynamic-import",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    "transform-decorators-legacy"
  ]
}